<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ /*********************************************************
  ~
  ~ Copyright (c) 2016.
  ~ by 111ELM Design, LLC
  ~
  ~ **********************************************************/
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oneelevenelm.bedmate" >

    <application
        android:name=".BedmateApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data  android:name="roboguice.modules"
                    android:value="com.oneelevenelm.bedmate.modules.MainActivityModule"/>
    </application>

</manifest>